# artifacts & dependencies
node_modules/

# source files for building data files
build/

# test files
test/

# project configs
.gitignore
.github
.nvmrc
babel.config.json
.mocharc.json
.c8rc.json
.eslintignore
.eslintrc.json
.prettierrc.json
package.json.backup

# IDE and coverage files
.install/
.lua/
.nyc_output/
coverage/
tailscale*
