name: Build
on:
  schedule:
    - cron: '55 */4 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Tailscale
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - run: npm ci
      - run: npm run build
        env:
          PROXY_URL: ${{ secrets.SOLVERR_PROXY_URL }}
      - run: npm test
      - run: git checkout -- package-lock.json #prevent package-lock.json-only feat changes
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          skip_dirty_check: false
          commit_message: 'feat(patchlogs): new patchlogs'
          commit_user_name: wfcd-bot-boi
          commit_user_email: botboi@warframestat.us
          commit_author: wfcd-bot-boi <botboi@warframestat.us>
