name: Build
on:
  schedule:
    - cron: '55 */4 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - uses: wenoa/setup-wireguard@v1.0.0
        with:
          WG_CONFIG: ${{ secrets.WG_CONFIG }}
      - run: npm run build
      - run: npm test
      - run: git checkout -- package-lock.json #prevent package-lock.json-only feat changes
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          skip_dirty_check: false
          commit_message: 'feat(patchlogs): new patchlogs'
          commit_user_name: wfcd-bot-boi
          commit_user_email: botboi@warframestat.us
          commit_author: wfcd-bot-boi <botboi@warframestat.us>
