name: Release
on:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.branch }}
  cancel-in-progress: true
jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run lint
      - name: Run commitlint
        run: npx commitlint --last
      - run: npm test
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [verify]
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
