name: Pull Request Checks
on: pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run lint
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: data/json
        key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build, lint]
    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x, 17.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: data/json
        key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test
