name: Pull Request Checks
on: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - uses: actions/cache/save@v4
        with:
          path: node_modules/
          key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
  lint:
    name: Lint
    needs: [install]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: actions/cache/restore@v4
        with:
          path: node_modules/
          key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
      - run: npm run lint
  build:
    name: Build
    needs: [install]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: browser-actions/setup-chrome@v1
      - uses: actions/cache/restore@v4
        with:
          path: node_modules/
          key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
      - run: npm run build
      - uses: actions/cache/save@v4
        with:
          path: |
            data/patchlogs.json
            node_modules/
          key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build, lint]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache/restore@v4
        with:
          path: |
            data/patchlogs.json
            node_modules/
          key: ${{ runner.os }}-${{ github.run_id }}${{ github.run_number }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - run: npm test
